
# charset = utf-8
# end_of_line = crlf
# indent_size = 4
# indent_style = space
# insert_final_newline = false
# max_line_length = 120
# tab_width = 4

# Please keep in your mind that multiple value uses key-value pattern .... : .... , ...:...., ...: ...

[PDF_1040_FORMS_URL]
p1040     =         2022:unset ,2023:unset , 2024:unset
p1116     =         2022:unset ,2023:unset , 2024:unset
inst_1040 =         2022:unset ,2023:unset , 2024:unset

[PDF_FORMS_PATH]
dir = unset
1040 = unset
schedule1=      , fieldsFile=
schedule2=      , fieldsFile=
scheduleA=      , fieldsFile=
scheduleB=      , fieldsFile=
scheduleC=      , fieldsFile=
scheduleD=      , fieldsFile=
scheduleE=      , fieldsFile=
scheduleF=      , fieldsFile=



[FILLER_DETAILS]
name =PESIA ELKA
family_name=SEINFELD
ssn=215354998
occupation=COMPUTERS
email=pesikins@gmail.com
phone=+972-583-215858
address=24 ARIE BEN ELIEZER STREET
city=PETACH-TIQUA
apt=8
country=ISREAL
zip=4974447

#max 9 digits
rout=1111111
#max 17 digits
account=000000

[DEPENDENCE]
binyamin =  name : BIMYAMIN,  ssn : 782085304, rel : SON
naama =     name : NAAMA,     ssn : 721481185, rel : DAUGHTER
yaakov =    name : YAAKOV,    ssn : 870620080, rel : SON
miriam =    name : MIRIAM,    ssn : 775386334, rel : DAUGHTER
yonatan =    name : YONATAN,  ssn :    9090      , rel : SON
tamar =      name : TAMAR,    ssn :    8008      , rel : DAUGHTER

[CALC_DATA]
salary_in_ILS=NOPE
dmei_liyda = 0

ILS_USD_rate=unset
tax_in_ILS=unset
bituch_leumi_ILS=unset
bituch_briut_ILS=unset
standard_deduction=19400

[SHORT_TERM]
cost_basis=5443
proceeds = 5742
realized_gain=300
loss_carry_over = 0

[LONG_TERM]
cost_basis=0
proceeds = 0
realized_gain=0
loss_carry_over = 0

[DIVIDENDS]
#dividends- "IRS Box DIVIDENDS AND DISTRIBUTIONS"
qualified_dividend=489
ordinary_dividend=509


[DATA_FROM_INSTARUCIONS]
